

<div class="container " style="margin-top:50px">
  <h1>{{items.title}}</h1>
  <p>{{items.price }}</p>
  <p>
    <a class="btn btn-primary btn-large">
      {{items.content}}
    </a>
  </p>
</div>