<div class="main_container" style="margin-top:70px">
<div class="row">
<div class="col-md-4">
<h1>Get Data</h1>
</div>

<!--Category Dropdown-->
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">content-not working
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">book</a></li>
    <li><a href="#">toy</a></li>
  </ul>
</div>
    
    
    
    
<!--Sorting Buttons-->
<div class="col-md-4">
<div class="row">
    <a href="sortedlowtohigh"><button type="button" class="btn btn-info" style="margin-left:40px" >Sort:Low to high</button></a>
    <a href="sortedhightolow"><button type="button" class="btn btn-info" style="margin-left:5px">Sort:High to Low</button></a>
    </div>
</div>
</div>









<div class="container" style="margin-top:30px">
<div class="row">
<div class="card col-md-4">
    <img class="card-img-top" src="./images/1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Title:Dummy 1</h5>
        <p class="card-text">Content:This is not stored in database.This is by default in the html page.You can write anything in it.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card col-md-4">
    <img class="card-img-top" src="./images/1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Title:Dummy 2</h5>
        <p class="card-text">Content:This is not stored in database.This is by default in the html page.You can write anything in it.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
    
    <div class="card col-md-4">
    <img class="card-img-top" src="./images/1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Title:Dummy 3</h5>
        <p class="card-text">Content:This is not stored in database.This is by default in the html page.You can write anything in it.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

</div>
    
    <div class="row"> 
   {{#each items }} 
      
<div class="card col-md-4">
    <img class="card-img-top" src="./images/1.jpg" alt="Card image cap">
   
    <div class="card-body">
        <h5 class="card-title">Title:{{ this.title }}</h5>
        <h6 class="card-title">Price:{{ this.price }}</h6>
        <p class="card-text">Content:{{ this.content }}</p>
        <a href="/getdata/{{ _id }}" class="btn btn-primary">Go somewhere</a>
    </div>
    
</div>
   {{/each}}
        </div>
            </div>
    
 
    
   

    
</div>

 


