



    <h3>Put Data</h3>
<div class="col-md-4">
<form action="/putdata" method="post">
  <div class="form-group" style="margin-top:40px">
    <label for="exampleInputTitle">Title</label>
    <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title">
    <small id="emailHelp" class="form-text text-muted">We'll never share your Title with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPrice">Price</label>
    <input type="number" id="title" name="price" class="form-control" >
  </div>
    <div class="form-group">
    <label for="exampleInputPrice">Content</label>
    <input type="text" id="title" name="content" class="form-control" >
  </div>
 
  <button type="submit" class="btn btn-primary">Insert</button>
</form>
    </div>



